*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task--one__row{
    margin: 0 auto;
    display: flex;
    gap: 3px;
}

.task--one__card, .task--one__card-2, .task--one__card-3, 
.task--one__card-4, .task--one__card-5{
    width: 40px;
    height: 100px;
    background-color: gray;
    animation-name: task-1-1;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation:  speed iteration-count direction
}

@keyframes task-1-1 {
        from {
            height: 100px; 
            margin-top: 0; 
            margin-bottom: 0;
        }
        to {
            height: 180px; 
            margin-top: -40px;
            margin-bottom: -40px; 
        }
        from {
          height: 100px; 
          margin-top: 0; 
          margin-bottom: 0;
      }
        
    }

  .task--one__card{
    animation-delay: .5s;
  } 
  .task--one__card-2{
    animation-delay: 1s;
  } 
  .task--one__card-3{
    animation-delay: 1.5s;
  } 
  .task--one__card-4{
    animation-delay: 2s;
  } 
  .task--one__card-5{
    animation-delay: 2.5s;
  }
 